header{
    width: 100%;
    background-color: rgb(58, 57, 57);
    display: flex;
    direction: column;
    align-items: space-between;
    
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}


h1 {
    font-size: 64px;
    color: #fff;
    

    
   
   
}


.social-icons {
    
    display: flex;
    justify-content: flex-end;
}


.social-icons a {
    
    margin-left: 10px;
    text-decoration: none;
}


.social-icons img {
    height: 80px;
    /* Set the width to auto to maintain aspect ratio */
    width: auto;
}




.team-icons {
    display: flex;

    justify-content: space-around;
    align-items:flex-end;
    width: 100%;
    height: 40%;
    
    
}


.team-icons img {
    height: 60px;
    /* Set the width to auto to maintain aspect ratio */
    width: auto;
}
.tooltip {
    position: absolute;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    /* This ensures that the tooltip doesn't interfere with mouse events */
    display: none;
    /* Initially hide the tooltip */
}



body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

#map-container{
    /* Set the width of the map container */
    width: 60%;
    
}

#message-form-container {
    /* Set the width of the container for the message, form, and list of games */
    width: 40%;
    
}


.welcome-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    display: none;
}

.welcome-message p {
    font-size: 16px;
    margin-bottom: 20px;
}

.welcome-message button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    background-image: url('assets/backgrounds/goal_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}




